body {
    margin:0px;
    padding:0px;
}
.container {
    display: flex;
    flex-direction: row;
    width: 100%;
}
.ecriture {
    flex-basis: 50%;
}
.toutFruits {
    flex-basis: 50%;
    width: 100%;
    background-image: url('../images/all-fruits.jpg');
    background-size: cover;
    background-position:center;
}
.background {
    background-color: rgb(148, 145, 145);
    height:25vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    filter: none;
    
}

.background:hover{
    background-color: rgb(80, 77, 77);
}
